/*General*/
body {
	direction: rtl;
}
.container {
	width: auto;
	text-align: center;
}
/*end General*/

/*header*/
#header {
	width: 960px;
	margin: 0 auto;
	height: 192px;
}
nav#top-nav-bar ul li,
li#search-bar select#taxon {
	display: none;
}
nav#top-nav-bar ul li#search-bar {
	display: block;
}
figure#logo {
	margin: 0;
	width: auto;
}
figure#logo a {
	display: block;
}
figure#logo a img {
	padding-top: 25px
}
/*end header*/

/*footer*/

footer#footer {
	background: url(img/bg_footer.png) repeat 0 0 #3E403F;
	width: 100%;
	margin: 0 auto;
}

/*end footer*/



